body{
    background-color: #f9f9f9 !important;
}

.number-page-link{
    border-radius: .25rem;
}

.active-page{
    color: #fff !important;
    background-color: #007bff !important;
    -moz-box-shadow:    inset 0 0 4px #000000;
    -webkit-box-shadow: inset 0 0 4px #000000;
    box-shadow:         inset 0 0 4px #000000;
}